<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= @title %></title>
    <link rel="stylesheet" type="text/css" href="./css/main.css">

</head>

<body>
    
    <div id = 'alerts'>
        <div class = 'fail'>
            <%= flash[:failure] if flash[:failure]%>
        </div>
        <div class = 'notice'>
            <%= flash[:notice] if flash[:notice]%>
        </div>
        <div class = 'success'>
            <%= flash[:success] if flash[:success]%>
        </div>
    </div>

    <%= yield %>

</body>
</html>



